
button2 {
    background-color: #ff0000;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fad347;
    cursor: pointer;
}

button2:hover {
    background-color: #eb8787;
}
